extends layout

block content
    //Can use same class names for color stuff, but id's need to be unique
    div(id="parentDiv")
        div(id='addCardButton') Add Card
        br
    div(id="myModal" class="modal")
        div(id="modalContent" class="modal-content")
            span(class="close") X
            p Test text