extends layout

block content
    input(id='boardId' type='hidden' value={boardId})
    //Can use same class names for color stuff, but id's need to be unique
    h3(id='boardTitle') #{boardName}
    div(id='addCardButton') Add Card
    div(id='saveButton') Save
    div(id='trashCan')
        img(src="../images/trash.jpg", alt="../images/trash.jpg" width=75, height=75)
    br

    if boardData
        div(id='container') !{boardData}
    else
        div(id='container')
            div(id="parentDiv")

    div(id="myModal" class="modal")
        div(id="modalContent" class="modal-content")
            textarea(id="modalInput" class="modal-input" type="text")
            p(class="close") Save
    div(id="editBackground" style="color: black; width: 100%; height: 100%;")

    script(src='/scripts/cardScript.js')
    script(src='/scripts/boardSaving.js')
