extends layout

block content
    //Can use same class names for color stuff, but id's need to be unique
    h3(id='bTitle') #{boardName}
    div(id='sideContent')
        div(id='addCardButton') Add Card
        div(id='addUserButton') Share
        div(id='saveButton') Save
        div(id="accountsList")
            h4(id="current") Shared with
            each val in users
                div(class="board_user_row row")
                    p(class="board_user") #{val}
                    a(href="/removeUser/" + val) X
    div(id='trashCan')
        img(id='image' src="../images/trashcan.png", alt="../images/trash.jpg" width=75, height=75)
    br

    if boardData
        div(id='container') !{boardData}
    else
        div(id='container')
            div(xmlns="http://www.w3.org/1999/xhtml" id="parentDiv")

    div(id="myModal" class="modal")
        div(id="modalContent" class="modal-content")
            textarea(id="modalInput" class="modal-input" type="text")
            p(class="close") Save
    div(id="editBackground" style="color: black; width: 100%; height: 100%;")

    script(src='/scripts/cardScript.js')
    script(src='/scripts/boardSaving.js')
    script(src='/scripts/boardLoading.js')
