doctype html
html
    head
        link(href='/style.css' rel='stylesheet')
    body
        header
            ul(id='navBar')
                each val in navBar
                    li(class=val[3])
                        a(class=val[2] href=val[1]) #{val[0]}
        section
            block content
        footer