doctype html
html
    head
        link(href='/style.css' rel='stylesheet')
    body
        header
            div(id="navBar")
                ul
                    each val in navBar
                        li(class=val[3])
                            a(class=val[2] href=val[1]) #{val[0]}
        section
            br
            br
            br
            block content