doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        header
        section
            block content
            script(src='scripts/cardScript.js')
        footer