doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        header
            ul
                each val in navBar
                    li
                        a(class=val[2] href=val[1]) #{val[0]}
        section
            block content
        footer