extends layout

block content
    //Can use same class names for color stuff, but id's need to be unique
    div(class="divInfo" id="info")
        div(class="divDrag" id="infoHeader") Drag From Here
        p #[strong #[em Hello] word] Gaige
        p Gaige

    div(class="divInfo" id="info2")
        div(class="divDrag" id="info2Header") Drag From Here
        p #[strong #[em Hello] word] Gaige
        p Gaige
        
    script(type='text/javascript').
        const drag = (elmnt) => {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

            const dragMouseDown = (e) => {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }
            
            document.getElementById(`${elmnt.id}Header`).onmousedown = dragMouseDown;

            const elementDrag = (e) => {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            const closeDragElement = () => {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        drag(document.getElementById("info"));
        drag(document.getElementById("info2"));