html {
background-color: gainsboro;
text-align: center;
}

#addCardButton {
    padding:5px 15px; 
    color: white;
    display: block;
    background-color: steelblue; 
    font-size: xx-large;
    border:0 none;
    cursor:pointer;
    width: 200px;
    margin: 50px auto;
    border-radius: 100px; 
}

#addCardButton:hover {
    background-color: rgb(94, 206, 251);
}

.divDrag {
    padding: 10px;
    cursor: move;
    z-index: 10; 
    background-color: #2196F3;
    color: #fff;
}

.divInfo {
    padding: 10px;
    cursor: move;
    z-index: 10; 
    background-color: white;
    color: black;
}

.divChild {
    resize: both; 
    overflow: hidden;
    position: absolute;
    z-index: 9;
    background-color: black;
    text-align: center;
    border: 1px solid red;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42pt;
}

h2 {
    font-family: inherit;
    font-size: 22pt;
}

h3 {
    font-family: inherit;
    font-size: 20pt;
}

a:link {
    text-decoration: none;
}

input[type=password],
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password]:focus,
input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    color: white;
    background-color: rgb(179, 56, 56); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 100px;
    border-radius: 100px; 
}

input[type=submit]:hover {
    background-color: rgb(255, 0, 0);
}

.pass {
    margin: 0px 0px 0px 130px;
}

#error {
    color: rgb(255, 0, 0);
}

.board {
    padding:5px 15px; 
    color: white;
    display: block;
    background-color: steelblue; 
    font-size: xx-large;
    border:0 none;
    cursor:pointer;
    width: 200px;
    margin: 50px auto;
    border-radius: 100px;   
}

.board:hover {
    background-color: rgb(94, 206, 251);
}

.edit {
    padding:5px 15px; 
    color: white;
    display: block;
    background-color: darkseagreen; 
    font-size: xx-large;
    border:0 none;
    cursor:pointer;
    width: 150px;
    margin: 50px auto;
    border-radius: 100px;   
}

.edit:hover {
    background-color: darkslategray;
}